<!DOCTYPE html>
<!-- 
Template Name: Pinkman - Responsive Bootstrap 4 Admin Dashboard Template
Author: Hencework

License: You must have a valid license purchased only from themeforest to legally use the template for your project.
-->
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>AttendHR I Login</title>
    <meta name="description" content="A responsive bootstrap 4 admin dashboard template by hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    <link th:href="@{/new/dist/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="loader-pendulums"></div>
    </div>
    <!-- /Preloader -->
   
	<!-- HK Wrapper -->
	<div class="hk-wrapper">

        <!-- Main Content -->
        <div class="hk-pg-wrapper hk-auth-wrapper">
          
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 pa-0">
                        <div id="owl_demo_1" class="owl-carousel owl-theme">
                            <div class="fadeOut item auth-cover-img overlay-wrap" style="background-image:url(/attendance/new/dist/img/realistic-hospital-ward-3D_0.jpg);">
                                <div class="auth-cover-info py-xl-0 pt-100 pb-50">
                                    <div class="auth-cover-content text-center w-xxl-75 w-sm-90 w-xs-100">
                                       <!--  <h1 class="display-3 text-white mb-20">Understand and look deep into nature.</h1>
                                        <p class="text-white">The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. Again during the 90s as desktop publishers bundled the text with their software.</p>
                                     --></div>
                                </div>
                                <div class="bg-overlay bg-trans-dark-50"></div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-xl-7 pa-0">
                        <div class="auth-form-wrap py-xl-0 py-50">
                            <div class="auth-form w-xxl-55 w-xl-75 w-sm-90 w-xs-100">
                                <form th:action="@{/login}" method="post">
                                    <h1 class="display-4 mb-10">Welcome Back :)</h1>
                                    <p class="mb-30">Sign in to your account </p>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email" type="email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Password" type="password" name="password">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="feather-icon"><i data-feather="eye-off"></i></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-25">
                                        <input class="custom-control-input" id="same-address" type="checkbox" checked>
                                        <label class="custom-control-label font-14" for="same-address">Keep me logged in</label>
                                    </div>
                                    <button class="btn btn-pink btn-block" type="submit">Login</button>
                                   <!--  <p class="font-14 text-center mt-15">Having trouble logging in?</p>
                                    <div class="option-sep">or</div>
                                   
                                    <p class="text-center">Do have an account yet? <a href="#">Sign Up</a></p> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Main Content -->

    </div>
	<!-- /HK Wrapper -->

    <!-- jQuery -->
    <script th:src="@{/new/vendors/jquery/dist/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/new/vendors/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/new/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>

    <!-- Slimscroll JavaScript -->
    <script th:src="@{/new/dist/js/jquery.slimscroll.js}"></script>

    <!-- Fancy Dropdown JS -->
    <script th:src="@{/new/dist/js/dropdown-bootstrap-extended.js}"></script>

    <!-- Owl JavaScript -->
    <script th:src="@{/new/vendors/owl.carousel/dist/owl.carousel.min.js}"></script>

    <!-- FeatherIcons JavaScript -->
    <script th:src="@{/new/dist/js/feather.min.js}"></script>

    <!-- Init JavaScript -->
    <script th:src="@{/new/dist/js/init.js}"></script>
    <script th:src="@{/new/dist/js/login-data.js}"></script>
</body>

</html>