<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{fragments/blank}" >
<head>
<meta charset="UTF-8">
<title>Assign Supervisor</title>

</head>
<body>

  <div layout:fragment="content">


	<script type="text/javascript" th:inline="javascript">
	
	function sele(){
		

		var form = $('.former');
		var formdata = false;
		formdata = new FormData(form[0]);
		
			$.ajax({
				url:[[@{/admin/add/supervisor/staff}]],
				data:formdata,
				type:'post',
				processData : false,
				contentType : false,
				cache : false,
				success:function(data){
			
						$.toast({
							heading: 'Success!',
							text: '<p>Staff assigned succesffully </p>',
							position: 'top-right',
							loaderBg:'#f68daf',
							class: 'jq-toast-dark',
							hideAfter: 3500, 
							stack: 6,
							showHideTransition: 'fade'
						});
				       
						 form[0].reset();
						location.reload();
						
				
				}
				
			}); 
			  
			 }
	
	
		
	
	
	</script>
	
		
	
	
		  
  
   <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Assign Supervisor</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <!-- Container -->
            <div class="container">
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="align-left"></i></span></span>Add New Department</h4>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-6">
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
                                    <form class="former">
                                      

										
                                   
								                                        <div class="row">
                                            <div class="col-md-12 mb-10">
                                                <label for="number">Supervisor</label>
                                              	<select class="form-control custom-select d-block w-100" id="stafflist" name="superid">
                                                    <option th:each="a:${staff}" th:value="${a.id}" th:text="${a.name + ' (' + a.department+')'}">Choose...</option>
                                                  
                                                </select>
                                            </div>
                                         
                                            
                                        </div>
                                        
									
	 									                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label for="stafflist">Staff</label>
									<select class="form-control custom-select d-block w-100" id="stafflist" name="staffid" multiple="multiple" size="10">
                                                    <option th:each="a:${staff}" th:value="${a.id}" th:text="${a.name + ' (' + a.department+')'}">Choose...</option>
                                                  
                                                </select>
                                            </div>
                                           
                                        </div>
                                    
                                       
                                        <button class="btn btn-primary col-md-12 mt-4" type="button" onclick="sele()">Assign Supervisor</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                     </div>
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->
  
  
  </div>
  
  
</body>
</html>